*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin-bottom: 133px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 133px;
  justify-content: center;
  align-items: center;
  inline-size: 1400px;
  block-size: 100%;
  height: 720px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  margin-top: 133px;
  margin-bottom: 133px;
  margin-right: 30px;
  margin-left: 30px;
  gap: 30px;
  align-items: flex-start;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.result__video-container {
  display: flex;
  width: 711px;
  height: 456px;
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  margin-bottom: 5px;
}

.result__video {
  margin-right: 30px;
  margin-left: 0px;
  margin-top: 78px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
}

.content__details {
  width: 399px;
  height: 534px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
  background: transparent;
  padding-top: 16px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 133px;
  box-sizing: border-box;
  width: 711px;
}

.search-form__checkbox.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  line-height: 0.9;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.title .content__accent {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  color: #545050;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-right: 2px;
  text-transform: uppercase;
}

.search-form__fieldset {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.search-form__fieldset-title {
  color: #ddd;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__fieldset:first-of-type {
  display: flex;
  flex-direction: column;
  flex: 0 0 225px;
  margin: 0;
}

.search-form__fieldset:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 212px;
  margin: 0;
}

.search-form__textfield {
  width: 100%;
  padding: 8px 10px;
  background: transparent;
  border: 1px solid #444;
  color: #fff;
  box-sizing: border-box;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
}

.search-form__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.search-form__pseudo-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #bbb;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  background: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background: #fff;
}

.search-form__submit-button {
  flex: 0 0 194px;
  height: 34px;
  background: transparent;
  color: #fff;
  border: 1px solid #bbb;
  cursor: pointer;
  align-self: flex-end;
}

.content__list-container {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-right: 8px;
  margin-top: 10px;
  gap: ;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content__card {
  display: flex;
  gap: 12px;
  align-items: center;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-style: bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__card .card-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 2px solid #ffffff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 390px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  display: block;
  border-radius: 4px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.content__video-card-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more-button {
  margin-top: 30px;
  display: inline-block;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}

.search-form__textfield {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

.search-form__textfield:focus {
  border-bottom-color: #ffffff;
}

input[type="text"] {
  width: 211px;
  height: 22px;
  font-size: 18px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: rgb(255 255 255 / 0.7);
  padding: 10px;
  appearance: none;
}

.search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__label:has(input:focus-visible) {
  border: 2px solid #000;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 2px solid #000;
}

.button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.search-form__submit-button {
  cursor: pointer;
  border: 1px solid #ffffff;
  width: 194px;
  height: 34px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 65px;
  padding-right: 73.5px;
}

.more-button {
  cursor: pointer;
  border: 1px solid #ffffff;
  width: 390px;
  height: 34px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 142px;
  padding-right: 142px;
  white-space: nowrap;
}

.button:hover,
.search-form__submit-button:hover,
.more-button:hover {
  text-decoration: underline;
}

.button:active,
.search-form__submit-button:active,
.more-button:active {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #cccccc;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button:focus-visible,
.search-form__submit-button:focus-visible,
.more-button:focus-visible {
  outline: 3px solid rgba(255, 255, 254);
  outline-offset: 2px;
  color: #ffffff;
  border-color: #ffffff;
}

ul,
ol {
  list-style: none;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
