*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  width: 1200px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  margin: 133px 30px;
  gap: 30px;
  align-items: flex-start;
}

.content__list-item {
  padding: 0 3px;
}

.result__video-container {
  display: flex;
  width: 711px;
  height: 456px;
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  margin-bottom: 5px;
}

.result__video {
  margin: 78px 30px 0 0;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
}

.content__details {
  width: 399px;
  max-height: 534px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
  background: transparent;
  padding: 16px 0 133px;
  box-sizing: border-box;
  width: 711px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  line-height: 0.9;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.title .content__accent {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  color: #545050;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-right: 2px;
  text-transform: uppercase;
}

.search-form__fieldset {
  margin: 0;
  border: none;
}

.search-form__fieldset-title {
  color: #ddd;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__fieldset:first-of-type {
  display: flex;
  flex-direction: column;
  flex: 0 0 225px;
}

.search-form__fieldset:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 212px;
}

.search-form__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  background: transparent;
  margin-right: 6px;
  vertical-align: middle;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__text {
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  display: block;
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
  padding: 8px 10px;
  border-left: none !important; 
  border-right: none !important; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  font-family: inherit; 
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

.search-form__textfield:focus {
  border-bottom-color: #fff;
}

input[type="text"] {
  width: 211px;
  height: 22px;
  font-size: 18px;
  border: 2px solid #fff;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  appearance: none;
}

.content__list-container {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-right: 8px;
  margin-top: 10px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content__card {
  display: flex;
  gap: 12px;
  align-items: center;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  display: block;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.content__video-card-description {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
line-clamp: 4;
overflow: hidden;   
}

.content__card .card-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #fff;
}

.content__card-link:active {
  background-color: #ccc;
  color: #fff;
}

.result__video-container {
  position: relative;
}

.preloader {
position: fixed;
  inset: 0; 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8); 
  z-index: 9999; 
}

.button {
display: inline-block;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  width: auto;
  height: 34px;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.search-form__submit-button {
  width: 194px;
  padding: 6px 73.5px 6px 65px;
}

.more-button {
  width: 390px;
  padding: 6px 142px;
  margin-top: 30px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.button:focus {
  outline: none;
  box-shadow: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  color: #fff;
  border-color: #fff;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
